<html data-ng-app="listaTelefonica">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-locale_pt-br.js"></script>
		<script src="lib/angular/angular-messages.js"></script>
		<script src="js/app.js"></script>
		<script src ="js/controllers/listaTelefonicaCtrl.js"></script>
		<script src ="js/services/contatosAPIServices.js"></script>
		<script src ="js/services/operadorasAPIServices.js"></script>
		<script src ="js/services/serialGeneratorService.js"></script>
		<script src ="js/value/configValue.js"></script>
		<script src ="js/config/serialGeneratorConfig.js"></script>
		
	</head>
	<body data-ng-controller="listaTelefonicaCtrl">
		<div class="jumbotron">
			<h3 align="center">{{titulo}}</h3>
			
			<input class="form-control" type="text" data-ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
		
		<table data-ng-show="contatos.length > 0"  class="table " >
			<tr>
				<th></th>
				<th>Serial</th>
				<th> <a href="" data-ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" data-ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr data-ng-class="{'selecionado negrito': contato.selecionado}" data-ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<td><input type="checkbox" data-ng-model="contato.selecionado"/></td>
				<td>{{contato.serial}}</td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome | lowercase}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>			
			</tr>
		</table>
		
	
		<hr/>
		
		<form name="contatoForm">
			<input class="form-control" type="text" data-ng-model="contato.nome" name="txtNome" placeholder="Nome" data-ng-required="true" data-ng-minlength="10"/>
			<input class="form-control" type="text" data-ng-model="contato.telefone" name="txtTel" placeholder="Telefone" data-ng-required="true" data-ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" data-ng-model="contato.operadora" name="comboOper" data-ng-options="operadora.nome + '(' + (operadora.preco | currency) +')' for operadora in operadoras | orderBy:'nome'" data-ng-required="true">
				<option value=""> selecione uma operadora</option>	
			</select>
		</form>
		<div data-ng-show="contatoForm.txtNome.$dirty" data-ng-messages="contatoForm.txtNome.$error" >
		
			<div data-ng-message="required" class="alert alert-danger">
				Por favor, preencha o nome.		
			</div>
			<div data-ng-message="minlength" class="alert alert-danger">
				O campo nome deve ter 10 caracteres ao menos.		
			</div>
		</div>
		<div class="alert alert-danger" data-ng-show="contatoForm.txtTel.$error.required && contatoForm.txtTel.$dirty">
			Por favor, preencha o telefone.		
		</div>
		<div class="alert alert-danger" data-ng-show="contatoForm.txtTel.$error.pattern">
			O campo telefone deve ter o formato 99999-9999.		
		</div>
		<div class="alert alert-danger" data-ng-show="contatoForm.comboOper.$invalid && contatoForm.comboOper.$dirty">
			Por favor, preencha a operadora.		
		</div>
		<button class="btn btn-primary btn-block" data-ng-click="adicionarContato(contato)" data-ng-disabled="contatoForm.$invalid">Adicionar</button>
		<button class="btn btn-danger btn-block" data-ng-click="apagarContatos(contatos)" data-ng-show="isContatoSelecionado(contatos)">Apagar</button>
		</div>
		<div data-ng-include="'view/footer.html'"></div>	
		
	</body>
</html>